*{
	box-sizing: border-box;
}
body {
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333333;
}
.section {
	padding: 20px 10%;
}
.main {
	text-align: center;
	margin-top: 85px;
}
.video, .form {
	display: inline-block;
	vertical-align: top;
}
.form {
	margin-left: 30px;
	text-align: center;
	border: 5px solid #2727d9;
	padding: 20px;
}
.form input {
	display: block;
	margin-top: 12px;
	width: 300px;
	padding: 17px;
	border: 1px solid #333333;
	font-style: 17px;
}
.form-header {
	text-align: center;
	font-style: 20px;
	font-weight: 900;
	margin-bottom: 35px;
}
.btn {
	margin-top: 12px;
	font-style: 17px;
	font-weight: 800;
	color: #333333;
	background-color: #2727d9;
	border: none;
	color: #ffffff;
	width: 300px;
	height: 60px;
	display: block;
	margin: 12px auto;
}
.header{
	font-size: 24px;
	text-align: center;
}
.header span {
	font-weight: 300;
	display: block;
}
.header strong {
	font-weight: 900;
	text-transform: uppercase;
}
.col {
	display: inline-block;
	text-align: center;
	margin: 10px 45px;
}
.feature-header {
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
}
.feature {
	margin: 60px auto;
	text-align: center;
}
.foto {
	display: inline-block;
	text-align: center;
	margin: 15px;
	}
.foto1 {
	text-align: center;
	margin: 10px 30px;
}